a {
	text-decoration: none;
}

.fromBackGround {
	/* width: 450px; */
	margin: 0px auto;
	padding: 30px;   
}

.borderleft {
	border-left: 5px solid #7ac0cc;
}

h2 {
	padding-left: 10px;
}

form {
	text-align: left;
}

table {
	margin-bottom: 30px;
	border-collapse: collapse;
	background-color: #ddd;
	border: 5px solid #ddd;
}

table tr {
	border-bottom: 3px solid #fff;
}

table td {
	margin: 0px;
	padding: 20px;
	text-align: left;
}

.input {
	padding: 10px;
	margin-bottom: 5px;
	width: 348px;
}

.btn{
	padding: 10px 20px 10px;
	margin-right: 10px;
}
