.borderleft {
	border-left: 5px solid #7ac0cc;
}

h2 {
	padding-left: 10px;
}

/*テーブルの設定*/
table{
	width: 100%;
	border-collapse: collapse;
	font-size: 13px;
	table-layout: AUTO;
}

table th, table td {
	border: 1px solid #ddd;
	padding: 6px;
	text-align: center;
}

table th {
	background-color: #F2F2F2;
	text-align: center;
}

.btn, a.btn{
  color: #fff;
  background-color: #7ac0cc;
  width: 70px;
  height: 30px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  position: relative;
  top: 20px;
}

.btn, a.btn:hover{
  color: #fff;
  background: #78A7B2;
  text-decoration: underline;
}