body {
	color: #333333;
	margin: 40px;
	
}

section{
	margin-top: 80px;
	margin-bottom: 80px;
}


table{
	width: 100%;
	border-collapse: collapse;
	font-size: 12px;
	table-layout: AUTO;
}

table th, table td {
	border: 1px solid #ddd;
	padding: 6px;
	text-align: center;
}

table th {
	background-color: #F2F2F2;
	text-align: center;
}

.borderleft {
	border-left: 5px solid #7ac0cc;
	padding: 5px;
}