<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1 class="borderleft">ヒーロー登録フォーム</h1>
	<form th:action="@{/hero/create}" th:object="${heroRequest}" th:method="post">
		<p>ヒーロー名<br>
		<input type="text" th:field="*{name}"></p>
		<p>ヒーローパワー名<br>
		<input type="text" th:field="*{powerName}"></p>
		<p>コスト<br>
		<input type="text" th:field="*{powerActivate}"></p>
		<p>ヒーローパワー<br>
		<textarea th:field="*{power}" cols="50" rows="2"></textarea></p>
		<p>ヒーロー選択除外種族<br>
		<input type="text" th:field="*{typeBan}"></p>
		<input type="submit" value="登録"> <input type="reset" value="リセット">
	</form>
</body>
</html>